body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0;
    padding: 0;
    background-image: url('about_back.jpeg');
    background-size: cover;
    font-family: 'Exo 2', sans-serif;

}
h2 {
    font-size: 80px;
    margin-top: 40px;
    margin-left: 10px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: #333;
}
.profile-img {
    max-width: 300px;
    border-radius: 45%;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    min-height: 300px;
}
.about-content {
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    float: left;
    display: flex;
    flex-direction: row;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 250px;
    list-style: none;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
}

p{
font-family: 'Exo 2', sans-serif;
color: black;
font-size: 20px;
font-weight: bolder;

}

.arrow {
position: fixed;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
z-index: 9999;
}
.arrow img {
width: 50px;
height: 50px;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}
.arrow img:hover {
transform: translateY(-10px);
}

#photo-gallery:target {
display: flex;
}
.photo-gallery {
display: none;
justify-content: center;
margin-top: 50px;
}
.photo-gallery img {
max-width: 500px;
min-width: 500px;
max-height: 400px;
margin: 10px;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
transition: transform 0.3s ease-in-out;
}
.photo-gallery img:hover {
transform: scale(1.1);
}

.navbar a:hover{
color: rgb(101, 99, 99);
}


footer {
font-size: small;

background-color: #333;
color: white;
padding: 10px 0;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}